body {
    background-color: #f0f0f0;
}
body div.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 22px #777777;
    display: inline-block;
}
.login-div input {
    padding: 3px;
    display: block;
    margin-bottom: 7px;
}
.login-div input[type="email"] {
    border: solid 1px #0000ff;
}
.login-div input[type="password"] {
    border: solid 1px #ff0000;
}
.login-div button:hover { /* gomb árnyék */
    box-shadow: 2px 2px 3px #001122;
}
ul li:first-child { /* az első szó a listában */
    color:red;
}
ul li:last-child { /* az utolsó szó a listában */
    text-decoration: underline;
}
ul li:nth-child(2) { /* az n edik elem a listában */
    color:blue;
}
h1:nth-child(1) { /* az első H1 cím atrtributumok */
    color: green;
    text-decoration:underline ;
    padding:1px;
    margin: 1px;
}

/*  conflict with .login-div input
input[class^="blue"] {
    border: solid 5px rgb(46, 240, 78);
}
*/

/*
input[class* -mindenhol
    [class^ -ezzel kezdődő
    [class$ -ezzel végződő
*/
